.links_learnMore {
  text-decoration: none;
  font-family: var(--font-family-Montreal);
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1.5rem;
  padding: 5rem 0rem;
  color: var(--colorPurple);
}

.goBack__full {
  padding: 5rem 20rem;

}

.fullContent {
  padding: 0rem 20rem;
  background-color: var(--backgroundColor);
  height: 100%;
}