.fullExplenation {
  background-color: #F8F9FD;
}

.displayNone {
  display: none
}

.picture_url_imports {
  margin-bottom: 1.5rem;
}

/* header */

.header {
  padding: 0rem 20rem;
}

.headerInfo {
  padding: 10rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
}

.headerInfo_title {
  font-family: var(--font-family-Montreal);
  font-size: 7.5rem;
  color: var(--colorBlack);
  padding-bottom: 3rem;
}

.headerInfo_text {
  font-family: var(--font-family-Inter);
  font-size: 2rem;
  color: #C4C4C4;
  padding-bottom: 5rem;
  font-weight: 400;
}

.links_toDemo {
  padding: 1.5rem;
  background-color: var(--colorPurple);
  font-family: var(--font-family-Inter);
  font-size: 1.5rem;
  color: white;
  border: .5rem solid var(--colorPurple);
  border-radius: .5rem;
  text-decoration: none;
  font-weight: 900;
}

/* full explenation */
.explenation {
  background-color: white;
  padding: 0% 20%
}

/* first part */
.oneXtwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10rem 0rem;
  grid-column-gap: 10%;
  border-bottom: 0.1rem solid #ADB1BD;
}

.title {
  color: var(--colorBlack);
  font-family: var(--font-family-Inter);
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
  width: 75%;
  line-height: 4rem;
}

.text {
  font-size: 2rem;
  font-family: var(--font-family-Inter);
  color: var(--colorBlack);
  font-weight: 300;
  line-height: 3.25rem;
  width: 95%;
}

/* lists part partTwo */

.spaceBetweenExplenation {
  padding: 10rem 0rem;
  border-bottom: 0.1rem solid grey;
}

.list {
  list-style: disc;
  padding-left: 5rem;
  width: 85%;
  line-height: 5rem;
}

.text_list {
  font-size: 2rem;
  font-family: var(--font-family-Inter);
  color: var(--colorBlack);
  font-weight: 300;
  line-height: 3.5rem;
}

.text_list_special {
  font-size: 2rem;
  font-family: var(--font-family-Inter);
  color: var(--colorBlack);
  font-weight: 500;
  line-height: 3.5rem;
  margin-top: 3rem;
}

.explenation_Part_list {
  padding-bottom: 5rem;
}

/* part three */


/* part four how to do */

.steps_text {
  padding: 5rem 0rem 1rem 0rem;
  font-size: 2.25rem;
  font-weight: 600;
  width: 75%;
  font-family: var(--font-family-Inter);
  color: var(--colorBlack);
  line-height: 3.25rem;
}

.steps_text_special {
  padding: 3rem 0rem 1rem 0rem;
  font-size: 2rem;
  width: 75%;
  font-family: var(--font-family-Inter);
  color: var(--colorBlack);
  line-height: 3rem;
}

.copyThis {
  background-color: #ededed;
  width: auto;
  padding: 2.5rem;
  border-radius: .5rem;
  margin-top: 3rem;
}

.copyThis_text {
  color: #4271ae;
  font-size: 2rem;
  font-family: var(--font-family-Inter);
  padding: .5rem 0rem;
  font-weight: 300;
}

.copyThis_title {
  padding-bottom: 1.5rem;
  font-size: 2rem;
  font-family: var(--font-family-Inter);
  font-weight: 700;
}

.quote {
  font-family: var(--font-family-Inter);
  font-size: 3.5rem;
  font-weight: 600;
  font-style: italic;
  width: 75%;
  line-height: 5rem;
}


.title_special {
  color: var(--colorBlack);
  font-family: var(--font-family-Inter);
  font-size: 2rem;
  font-weight: 700;
  width: 75%;
  line-height: 4rem;
}

.special_text {
  font-weight: 700;
}